<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Steller landing page.">
    <meta name="author" content="Devcrud">
    <title>Steller Landing page | Free Bootstrap 4.1 landing page</title>
    <!-- font icons -->
    <link rel="stylesheet" href="/css/display.css" />


    <link href="/css/footer-aman.css" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>




    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- Bootstrap + Steller main styles -->
    <link rel="stylesheet" href="/css/steller.css">
    <link rel="stylesheet" href="/css/footer-pranav.css">

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="/css/navbar">

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page navigation -->
    <!-- <header class="headeer">
        <a href="#">
          <img class="loggo" alt="Startup logo" src="/images/logo.png" />
        </a>
  
        <nav class="maiin-naav">
          <ul class="maiin-naav-lisst">
            <li><a class="maiin-naav-linnk" href="#how">Home</a></li>
            <li><a class="maiin-naav-linnk" href="#meals">About Us</a></li>
            <li>
              <a class="maiin-naav-linnk" href="#testimonials">Testimonials</a>
            </li>
            <li><a class="maiin-naav-linnk" href="#pricing">Services</a></li>
            <li><a class="maiin-naav-linnk naav-ctta" href="#cta">Login</a></li>
          </ul>
        </nav>
      </header> -->
    <%- include('navAfterLogin') %>




        <!-- Page Header -->
        <header class="header" id="home">
            <div class="container">
                <div class="infos">
                    <h6 class="subtitle">Hello,I'm</h6>
                    <h6 class="title"><%= pointer.name %></h6>
                    <p><%= tag %></p>

                    <div class="buttons pt-3">
                        <a href="/payment/<%= _id %>"> <button class="btn btn-primary rounded">HIRE
                                ME</button></a>

                    </div>

                    <div class="socials mt-4">
                        <a class="social-item" href="javascript:void(0)"><i class="ti-facebook"></i></a>
                        <a class="social-item" href="javascript:void(0)"><i class="ti-google"></i></a>
                        <a class="social-item" href="javascript:void(0)"><i class="ti-github"></i></a>
                        <a class="social-item" href="javascript:void(0)"><i class="ti-twitter"></i></a>
                    </div>
                </div>
                <div class="img-holder">
                    <img src="/images/man.svg" alt="">
                </div>
                <div class="widget">
                    <div class="widget-item">
                        <h2>124</h2>
                        <p>Happy Clients</p>
                    </div>
                    <div class="widget-item">
                        <h2>456</h2>
                        <p> Total requests received</p>
                    </div>
                    <div class="widget-item">
                        <h2>78</h2>
                        <p>positive ratings</p>
                    </div>
                </div>
        </header>







        <section id="about" class="section mt-3">
            <div class="container mt-5">
                <div class="row text-center text-md-left">
                    <div class="col-md-3">
                        <img src="/assets/imgs/avatar.jpg" alt="" class="img-thumbnail mb-4">
                    </div>
                    <div class="pl-md-4 col-md-9">
                        <h6 class="title"><%= pointer.name %></h6>
                        <p class="subtitle"><%= tag %></p>
                        <p><%= description %></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, eius, nam. Quo praesentium
                            qui temporibus voluptatum, facilis aliquid eligendi fugiat beatae neque inventore non.
                            Laborum repellendus consequatur ullam voluptatum asperiores.</p>
                        <button class="btn btn-primary rounded mt-3">Check Reviews</button>
                    </div>
                </div>
            </div>
        </section>


        <section id="service" class="section">
            <div class="container text-center">
                <h6 class="subtitle">Service</h6>
                <h6 class="section-title mb-4">More about me</h6>
                <p class="mb-5 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In alias dignissimos.
                    <br> rerum commodi corrupti, temporibus non quam.</p>

                <div class="row">
                    <div class="col-sm-6 col-md-3 mb-4">
                        <div class="custom-card card border">
                            <div class="card-body">
                                <i class="icon ti-crown"></i>
                                <h5>HQ
                                    TIRUPATI
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-4">
                        <div class="custom-card card border">
                            <div class="card-body">
                                <i class="icon ti-desktop"></i>
                                <h5>EXPERIENCE
                                    13 YEARS
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-4">
                        <div class="custom-card card border">
                            <div class="card-body">
                                <i class="icon ti-mobile"></i>
                                <h5>WORKINGHOURS
                                    OPEN 24 HOURS
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-4">
                        <div class="custom-card card border">
                            <div class="card-body">
                                <i class="icon ti-bar-chart"></i>
                                <h5>CONTACT NO.
                                    42424424244
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>









        <section id="contact" class="position-relative section">
            <div class="container text-center">
                <h6 class="subtitle">Contact</h6>
                <h6 class="section-title mb-4">Get In Touch With Me</h6>
                <p class="mb-5 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In alias dignissimos.
                    <br> rerum commodi corrupti, temporibus non quam.</p>

                <div class="contact text-left">
                    <div class="form">
                        <h6 class="subtitle">Available 24/7</h6>
                        <h6 class="section-title mb-4">Get In Touch</h6>
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter email" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <textarea name="contact-message" id="" cols="30" rows="5" class="form-control"
                                    placeholder="Message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block rounded w-lg">Send Message</button>
                        </form>
                    </div>
                    <div class="contact-infos">
                        <div class="item">
                            <i class="ti-location-pin"></i>
                            <div class="">
                                <h5>Location</h5>
                                <p> 12345 Fake ST NoWhere AB Country</p>
                            </div>
                        </div>
                        <div class="item">
                            <i class="ti-mobile"></i>
                            <div>
                                <h5>Phone Number</h5>
                                <p>(123) 456-7890</p>
                            </div>
                        </div>
                        <div class="item">
                            <i class="ti-email"></i>
                            <div class="mb-0">
                                <h5>Email Address</h5>
                                <p>info@website.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="map">
                <iframe src="https://snazzymaps.com/embed/61257"></iframe>
            </div>
        </section>
        <!-- End of Contact Section -->

        <section>
            <div class="adjust"></div>
        </section>
        <section>
            <!-- <footer class="footeer">
                <div class="waves">
                    <div class="wave" id="wave1"></div>
                    <div class="wave" id="wave2"></div>
                    <div class="wave" id="wave3"></div>
                    <div class="wave" id="wave4"></div>
                </div>
                <div class="containeer griid griid--footeer sidemarg">
                    <div class="loggo-col">
                        <a href="#" class="footeer-logoo">
                            <img class="loggo" src="/images/logo.png" alt="logo" />
                        </a>

                        <ul class="sociaal-links">
                            <li>
                                <a class="footeer-link" href="#"><ion-icon class="sociaal-icon"
                                        name="logo-instagram"></ion-icon></a>
                            </li>
                            <li>
                                <a class="footeer-link" href="#"><ion-icon class="sociaal-icon"
                                        name="logo-facebook"></ion-icon></a>
                            </li>
                            <li>
                                <a class="footeer-link" href="#"><ion-icon class="sociaal-icon"
                                        name="logo-twitter"></ion-icon></a>
                            </li>
                        </ul>

                        <p class="copyrighht">
                            Copyright &copy; <span class="year">2027</span> by Locally. Inc
                            All rights reserved
                        </p>
                    </div>
                    <div class="address-col">
                        <p class="footeer-headinng">Contact us</p>
                        <address class="contactts">
                            <p class="addreess">
                                623 Harrison St., 2nd Floor, San Francisco, CA 94107
                            </p>
                            <p>
                                <a class="footeer-link" href="tel:415-201-6370">415-201-6370</a><br />
                                <a class="footeer-link" href="mailto:hello@amanfood.com">hello@locally.com</a>
                            </p>
                        </address>
                    </div>
                    <nav class="nav-col">
                        <p class="footeer-headinng">Account</p>
                        <ul class="footeer-nav">
                            <li><a class="footeer-link" href="#">Create account</a></li>
                            <li><a class="footeer-link" href="#">Sign in</a></li>
                        </ul>
                    </nav>
                    <nav class="nav-col">
                        <p class="footeer-headinng">Company</p>
                        <ul class="footeer-nav">
                            <li><a class="footeer-link" href="#">About Locally</a></li>
                            <li><a class="footeer-link" href="#">For Business</a></li>

                            <li><a class="footeer-link" href="#">Careers</a></li>
                        </ul>
                    </nav>
                    <nav class="nav-col">
                        <p class="footeer-headinng">Resources</p>
                        <ul class="footeer-nav">
                            <li><a class="footeer-link" href="#">Help center</a></li>
                            <li><a class="footeer-link" href="#">Privacy & terms</a></li>
                        </ul>
                    </nav>
                </div>
            </footer> -->


            <!-- <%- include('footer_customer') %> -->
            <%- include('footer-aman') %>

            <!-- End of page footer -->

            <!-- core  -->
            <script src="/assets/vendors/jquery/jquery-3.4.1.js"></script>
            <script src="/assets/vendors/bootstrap/bootstrap.bundle.js"></script>
            <!-- bootstrap 3 affix -->
            <script src="/assets/vendors/bootstrap/bootstrap.affix.js"></script>

            <!-- steller js -->
            <script src="/assets/js/steller.js"></script>

</body>

</html>